__pycache__
demo.log
demo.txt
demo2.log
demo2.txt
demo17rbf.log
demo17rbf.txt
demo65rbf.log
demo65rbf.txt
demo65rbfsup3.log
demo65rbfsup.txt
demo65rbfsup2.txt
demo65rbfsup3.txt
demo65rbfsup4.txt
demo65rbfsup3.sh
data
ridrbf.sh
run.ipynb
run2.ipynb
run3.ipynb
runrbf.sh
runrelu.sh
features
.gitignore
workloads.sh
workloads.txt
workloads.log
demo17bs.sh
demo17bs.log
demo17bs.txt
demo33bs.sh
demo33bs.log
demo33bs.txt
demo65bs.sh
demo65bs.log
demo65bs.txt